// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.welcome-title {
  font-size: 250px;
  padding-top: 50px;
  color: white;
}

.welcome-heading {
  font-size: 100px;
  padding-top: 50px;
  color: white;
}

.welcome-title-under {
  color: white;
}

.welcome-box {
  background-repeat: no-repeat;
  width:100%; 
  min-height: 100vh; 
  text-align: center;
  background-image: url("https://ma-hub.imgix.net/wp-images/2019/05/29221842/royalty-free-music-Piano.jpg");
  background-size: 100%;
}
.welcome-image {
  width: 100vw;
}

lesson-box {
  padding: 15px;
  border-radius: 14px;
  border: 1px solid darkgrey;
  color: black;
  text-decoration: none;
}

.lesson-box-container {
  padding: 4px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.lesson-container {
  display: flex;
  flex-wrap: wrap;
}

.lesson-thumbnail {
  width: 100%;
}

.title {
  font-size: 123px; 
}
.title-under {
  margin-bottom: 100px;
}

.tabula {
  border-collapse: collapse; 
  width: 100%;
}

.tabula-header, .tabula-data, .tabula{
  border: 1px solid black;
  padding: 2px 4px;
}
  